{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        { "breaking": true, "release": "major" },
        { "type": "fix", "release": "patch" },
        { "type": "feat", "release": "minor" }
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
