name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # runs daily at midnight UTC

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Renovate
        uses: renovatebot/github-action@v40.1.10
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
